<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="Stylesheet" href="style.css"/>
  </head>
  <body>

    <div class="container">
      <h1>Home</h1>
      <p>
        Welcome, {{ username }}
      </p>

      <a href="/logout">Logout</a>
    </div>

    <p>
      From here, you may  <a href="/login">login</a>, <a href="/register">register</a>, or <a href="/home">go back home</a>
    </p>

  </body>
</html>
